#informacoes {
  font-weight: 300;
  line-height: 2; }
  #informacoes em {
    color: #E37531;
    font-style: normal;
    font-weight: 700; }
  #informacoes div {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
    #informacoes div:first-child {
      padding-right: 2rem;
      width: calc(50% - 2rem); }

.secao-edital {
  border-top: solid 2px #5992DD;
  margin-top: 3rem; }
  .secao-edital h2 {
    color: #1765AB;
    font-weight: 600;
    font-size: 1.6rem; }
  .secao-edital#anexos ul li {
    color: gray;
    font-weight: 300;
    font-style: italic;
    line-height: 3rem; }
    .secao-edital#anexos ul li a {
      color: black; }
      .secao-edital#anexos ul li a i {
        color: #E37531;
        padding-right: .5rem; }
      .secao-edital#anexos ul li a:hover {
        font-weight: 600;
        color: #E37531; }
  .secao-edital#inscricao {
    font-weight: 300;
    line-height: 3rem; }
    .secao-edital#inscricao a[role="button"] {
      background-color: #E37531;
      text-transform: uppercase;
      color: white;
      border: none;
      padding: .6rem 2rem;
      margin: 1rem 0;
      font-weight: 500; }
