#ultimos-editais {
  background-color: rgba(89, 146, 221, 0.15);
  padding: 1.5rem; }
  #ultimos-editais .box-title {
    font-style: italic;
    font-weight: 700;
    margin: 0 auto;
    margin-top: -4.5rem;
    width: 300px; }
    #ultimos-editais .box-title span {
      color: #E37531;
      font-size: 8rem;
      display: inline-block;
      font-weight: 900; }
    #ultimos-editais .box-title h2 {
      color: #1661A6;
      font-size: 2rem;
      display: inline-block;
      line-height: 1; }
  #ultimos-editais ul {
    padding: 0;
    max-width: 300px;
    margin: 0 auto; }
    #ultimos-editais ul li {
      list-style-type: none;
      margin-bottom: 1.5rem;
      text-align: left;
      display: inline-block;
      width: 300px; }
      #ultimos-editais ul li h3 {
        color: black;
        border-bottom: solid 1px #E37531;
        font-size: 1.13rem;
        font-weight: 400;
        display: inline-block;
        margin: 0 .5rem 0 0; }
        #ultimos-editais ul li h3:hover {
          border-bottom: solid 1px #9C4C22;
          font-weight: semi-bold;
          color: #9C4C22; }
      #ultimos-editais ul li em {
        background-color: #E37531;
        color: white;
        display: inline-block;
        padding: .2rem;
        font-style: normal;
        font-size: .8rem; }
      #ultimos-editais ul li p {
        color: #043767;
        margin: .5rem 0;
        font-size: .8rem;
        line-height: 1.5; }
        #ultimos-editais ul li p.atribuicao {
          color: black;
          font-weight: 300;
          font-size: 1rem; }

@media screen and (min-width: 652px) {
  #ultimos-editais .box-title {
    width: 600px; }
  #ultimos-editais ul {
    max-width: 620px; } }
@media screen and (min-width: 992px) {
  #ultimos-editais {
    padding: 1.2rem; }
    #ultimos-editais .box-title {
      width: 100%;
      max-width: 300px; } }
