#page-blog {
  @import "ultimos-editais";

  .container {
    width: 100%;
    padding: 0;
    padding-top: 3rem;
  }

  #posts {
    .blog-post {
      margin-bottom: 5rem;
      list-style-type: none;
      font-weight: $semi-bold;

      a {
        .blog-post-header {
          position: relative;
          height: 30vw;
          min-height: 100px;
          max-height: 250px;

          span {
            background-color: $azulEscuro;
            color: white;
            text-transform: uppercase;
            position: absolute;
            margin-left: 1rem;
            margin-top: -0.5rem;
            line-height: 1.8;
            padding: 0 0.8rem;
          }

          img {
            width: 100%;
            height: 30vw;
            min-height: 100px;
            max-height: 250px;
            object-fit: cover;
          }

          &:before {
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            opacity: 0.6;
            background-image: linear-gradient(transparent, $azulEscuro);
          }

          .post-date {
            color: white;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0.8rem;
            font-size: 0.8rem;
          }
        }

        &:hover {
          .blog-post-header:before {
            opacity: 0.8;
          }
        }
      }

      h3 {
        color: $azulEscuro;
        font-weight: $semi-bold;
        font-size: 1.3rem;
        margin: 1.5rem;

        a:hover {
          border-bottom: solid 0.5px $laranjaRegular;
        }
      }

      p {
        font-family: $merriweather;
        font-weight: $regular;
        line-height: 1.5;
        margin: 1rem 1.5rem;
      }
    }

    #postsNav {
      color: $laranjaMedio;
      padding: 0 1rem 6rem;

      a:hover {
        border-bottom: solid 1px $laranjaEscuro;
        color: $laranjaEscuro;
      }

      .nav-right {
        float: right;
      }

      .nav-left {
        float: left;
      }
    }
  }

  #informativo {
    margin-top: 2rem;
    padding: 1.5rem;

    h2 {
      position: relative;
      color: $laranjaRegular;
      text-transform: uppercase;

      span {
        background-color: #fff;
        padding-right: 15px;
        position: relative;
      }

      &:before {
        content: "";
        display: block;
        vertical-align: middle;
        height: 2px;
        background-color: $laranjaRegular;
        width: 100%;
        margin-right: -100%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
      }
    }

    label {
      font-size: 1.6rem;
      font-weight: $light;
      color: $laranjaRegular;
    }

    // SendGrid Widget
    form#sendgrid_mc_email_form {
      display: inline-flex;
      margin-top: 1rem;
      width: 100%;
      padding: 0 !important;

      input {
        font-family: "Fira Sans", sans-serif !important;
        border: solid 1px $azulEscuro;
      }

      .sendgrid_mc_fields {
        width: 100%;
        padding: 0 !important;

        .sendgrid_mc_label_div {
          display: none;
        }

        .sendgrid_mc_input {
          width: calc(100% - .5rem - 2px);
          height: 1.5rem;
          padding-left: .5rem;
          background-color: $azulExtraClaro;
        }
      }

      .sendgrid_mc_button {
        margin: 0 !important;
        height: 100%;
        background-color: $azulEscuro;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: white;
      }
    }
  }

  .social-media {
    background: linear-gradient(45deg, $azulEscuro, $azulRegular);
    border: none;
    color: white;
    width: calc(100% - 3rem);
    height: 5rem;
    margin-top: 2rem;
    display: table;
    padding: 1.5rem;

    span {
      width: 50%;
      display: inline-table;
      vertical-align: middle;
      font-size: 1.4rem;
      text-align: left;
    }

    i {
      font-size: 4rem;
      display: inline-table;
      width: calc(50% - 1rem);
      vertical-align: middle;
      text-align: right;
      padding-right: 1rem;
    }

    &:hover {
      background: linear-gradient(45deg, $azulEscuro, darken($azulClaro, 50%));
    }
  }

  #galeria {
    background-color: $laranjaExtraClaro;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;

    .container {
      width: unset;
      padding: 0 1rem;
    }

    h2 {
      background-color: $laranjaMedio;
      color: white;
      text-transform: uppercase;
      position: absolute;
      margin-top: -3rem;
      padding: 0.3rem 0.8rem;
      font-size: 1.2rem;
    }

    ul {
      li {
        font-weight: $light;
        color: $laranjaEscuro;
        font-size: 1.2rem;
        padding-top: 1rem;
        width: 100%;
        position: relative;

        h3 {
          font-weight: $light;
          margin: 0;

          span {
            font-weight: $bold;
            padding-right: 1rem;
          }
        }

        p {
          display: flex;
          margin: 0;
          margin-bottom: 1rem;
          margin-right: -1.5rem;

          a {
            padding: 0;
            display: inline-flex;
            position: relative;
            flex-grow: 1;
            margin: 1.5rem;
            margin-left: 0;
            width: calc(50% - 1.5rem);
            height: 10rem;
            pointer-events: none;

            &:nth-child(n + 3) {
              display: none;
            }

            &:nth-child(4) {
              margin-right: 0;
            }

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }

        .ver-mais {
          position: absolute;
          bottom: 1.5rem;
          right: 0;
          background-color: rgba(178, 72, 0, 0.5);
          width: calc(50% - 0.75rem);
          height: 10rem;

          span {
            position: absolute;
            width: 100%;
            text-transform: uppercase;
            text-align: center;
            font-size: 0.8rem;
            font-weight: $bold;
            padding-top: 4.5rem;
            color: white;
          }

          &:hover {
            background-color: rgba(178, 72, 0, 0.7);
          }
        }
      }
    }
  }

  a[role="button"] {
    @extend %botao;
    background-color: white;
    color: $laranjaMedio;
    float: right;
    margin: 0;

    &:hover {
      background-color: $laranjaMedio;
      color: white;
    }
  }

  @media screen and (min-width: 992px) {
    .container {
      padding-top: 10rem;
    }

    #posts {
      width: 560px;
      display: inline-block;

      .blog-post {
        a {
          .blog-post-header {
            height: 20vw;

            span {
              margin-left: 2rem;
            }

            img {
              height: 20vw;
            }

            .post-date {
              padding: 1rem;
              font-size: 1rem;
            }
          }
        }

        h3,
        p {
          margin: 1rem 0;
        }
      }

      #postsNav {
        padding: 0 0 2rem;
      }
    }

    aside {
      display: inline-block;
      width: 320px;
      vertical-align: top;
      margin-left: 75px;
    }

    #informativo {
      padding: 0;
    }

    #galeria {
      padding: 2rem 0 5rem;

      .container {
        padding: 0 !important;
      }

      ul {
        padding-top: 1.5rem;

        li {
          p {
            margin-right: 0;

            a {
              width: calc(25% - 1.5rem);

              &:nth-child(-n + 4) {
                display: inline-flex;
              }
            }
          }

          .ver-mais {
            width: calc(25% - 1.15rem);
          }
        }
      }
    }
  }
}
