.page-editais {
  #filtros {
    padding-bottom: 3rem;

    #aplicados {
      padding: 1rem 0;
      color: white;

      .excluir-filtro {
        background-color: $azul-principal;
        line-height: 1.8;
        font-size: 0.8rem;
        padding-left: 8px;
        display: inline-block;
        margin-bottom: .5rem;
        margin-right: 1rem;
        i{ padding: 0 8px; }
      }
    }

    #seletores {
      border: solid 0.5px $azul-claro;

      button#exibe-seletores {
        font-size: 1rem;
        border: none;
        background: none;
        text-align: left;
        padding: 8px 15px;
        position: relative;
        width: 100%;

        i {
          right: 15px;
          position: absolute;
          color: gray;
        }
      }

      .seletor {
        display: none;
        font-weight: $light;
        vertical-align: top;

        button.exibe-filtros, button#limpaFiltros {
          font-size: 1rem;
          border: none;
          background: none;
          width: 100%;
          text-align: left;
          padding: 8px 15px;
          position: relative;
        }

        button.exibe-filtros:after{
          content: "\f107";
          right: 15px;
          width: auto;
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          position: absolute;
          color: lightgray;
        }

        ul {
          display: none;
          padding: 5px 10px;
          line-height: 1.8;
          padding-bottom: 1rem;

          input[type="checkbox"]:hover {
            + label {
              color: $azul-principal;
              text-decoration: underline;
              text-underline-position: under;
            }
          }

          input[type="checkbox"]:checked {
            + label {
              color: $azul-principal;
              font-weight: $regular;
            }
          }
          label{ margin-left: .3rem;}
        }

        &.expandido {
          background-color: $azul-extra-claro;

          button.exibe-filtros {
            color: $azul-escuro;
            font-weight: $regular;

            &:after {
              content: "\f106";
            }
          }
        }

        &#limpar{
          button{
            text-align: center;
            font-weight: $regular;
            text-transform: uppercase;
            color: $azul-principal;
            border-top: solid 0.5px $azul-claro;

            &:hover{
              background-color: $azul-principal;
              color: white;
            }
          }
        }

        &:hover{
          background-color: $azul-extra-claro;
        }
      }
    }
  }

  #editais {
    width: 100%;
    font-weight: $light;
    border-bottom: 1px solid $azul-claro;
    margin-bottom: 3rem;

    .titulos {
      display: none;
    }

    li {
      display: flex;
      flex-direction: column;
      border-top: 1px solid $azul-claro;
      position: relative;
      margin-bottom: 1.2rem;

      h3 {
        color: $laranja-principal;
        font-weight: $bold;
        margin-top: 1rem;

        a:hover {
          border-bottom: solid 1.5px $laranja-medio;
          color: $laranja-medio;
        }
      }

      p {
        margin: 0.3rem 0 !important;
      }

      .atribuicao {
        font-weight: $regular;
      }
    }
  }

  @media screen and (min-width: 992px) {
    #filtros {
      margin-right: -15px;

      button#exibe-seletores {
        display: none;
      }

      #seletores {
        border: none;
        display: flex;

        .seletor {
          display: inline-block;
          border: solid 0.5px $azul-principal;
          margin-right: 15px;
          position: relative;

          button.exibe-filtros:after {
            color: gray;
          }

          &#ano{ width: calc(15% - 1rem) }

          &#atribuicoes,
          &#tipo-de-curso{
            width: calc(27.5% - 1rem);
          }

          &#cursos{
            width: calc(30% - 1rem);
            
            ul{ width: calc(100% - 1.2rem - 1px); }
          }

          ul{
            position: absolute;
            background-color: $azul-extra-claro;
            border: solid 0.5px $azul-principal;
            border-top: none;
            width: calc(100% - 1.2rem);
            margin-left: -.5px;
            padding-bottom: .5rem;
            z-index: 1;
          }
          
          &#limpar{
            button{
              border-top: none;
            }
          }
        }
      }
    }

    #editais {
      .titulos {
        display: block;

        span {
          font-weight: $bold;
          color: $laranja-principal;
          font-size: 1.2rem;
          margin: 1.5rem 0;
          display: inline-block;

          &:nth-of-type(1) {
            width: 15%;
          }
          &:nth-of-type(2) {
            width: 25%;
          }
          &:nth-of-type(3) {
            width: 25%;
          }
          &:nth-of-type(4) {
            width: 35%;
          }
        }
      }

      li {
        flex-direction: row;
        margin-bottom: 0;

        p,
        h3 {
          margin: 1rem 0 !important;
          position: relative !important;
          display: inline-block;
          font-size: 1rem;
          vertical-align: top;
        }

        h3 {
          width: 15%;
          color: $azul-principal;
          font-weight: $medium;

          a:hover {
            border-bottom: solid .5px $azul-principal;
            color: $azul-principal;
          }

          span {
            display: none;
          }
        }

        .atribuicao {
          width: 25%;
        }
        .tipo-de-curso {
          width: 25%;
        }
        .curso {
          width: 35%;
        }

        .atribuicao,
        .tipo-de-curso,
        .curso {
          font-weight: $light;
          color: black;
          font-style: normal;
        }
      }
    }
  }
}