#banner {
  background-image: linear-gradient(rgba(0, 28, 61, 0.3), rgba(0, 28, 61, 0.1)), url("img/banner.png");
  background-size: cover;
  background-position: center;
  text-align: center;

  .container {
    margin-top: 0;
    padding: 5vh 0;
    height: 100%;
    margin-bottom: 0;
    text-align: center;

    h2 {
      margin: 0 auto;
      padding: 2rem 0;
      color: white;
      max-width: 320px;
      font-weight: $light;
      font-size: 1.1rem;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

      .estilo1 {
        font-family: $merriweather;
        display: block;
        text-transform: lowercase;
        font-size: 1.5rem;
        font-weight: $regular;
        text-align: left;
        padding-left: .9rem;
        line-height: .8;
      }

      
      .estilo2 {
        font-family: $merriweather;
        font-weight: $bold;
        font-style: italic;
        display: block;
        font-size: 2.7rem;
        line-height: 1.1;
        text-transform: uppercase;

        b{
          font-size: 3.5rem;
        }
      }
    }

    a {
      @extend %botao;
      display: inline-block;
      margin: 0;
      margin-bottom: 2rem;
    }
  }

  @media screen and (min-width: 992px) {

    .container {

      h2 {
        max-width: 400px;
        padding-bottom: 1.5rem;
        margin: 0 auto;
        font-size: 1.42rem;

        .estilo1{
          font-size: 2rem;
        }

        .estilo2{
          font-size: 3.5rem;

          b{
            font-size: 4.5rem;
          }
        }
      }
    }

  }
}