#banner { 
  // background-image: linear-gradient(rgba($azul-medio, 0.1), rgba(0, 0, 0, 0)), url("img/selecao2020.png"); 
  background-image: url("img/selecao2020.png"); 
  background-size: cover; 
  // background-attachment: fixed; 
  background-position: center; 
  // text-align: center; 
 
  .container { 
    margin-top: 0; 
    padding-top: 5vh; 
    padding-bottom: 5vh; 
    height: 100%; 
    margin-bottom: 0; 
    margin: 0 auto;
    max-width: 320px;
 
    h2 { 
      margin: 0 auto;
      color: $azul-medio;
      font-size: 2.8rem;
      line-height: 1.2;
      display: flex;
      flex-direction: column;

      .destaque-amarelo{
        margin-bottom: .7rem;
        font-size: .5em;
        color: #1E1E24;
        font-family: "Lucida Console", Monaco, monospace;
        position: relative;
        width: fit-content;

        &:first-of-type::before{
          content: "Processo";
          position: absolute;
          height: 1.6rem;
          background-color: #F7D96D;
          width: 100%;
          padding: .1rem .2rem 0;
        }

        &:nth-of-type(2)::before{
          content: "Seletivo 2020";
          position: absolute;
          height: 1.6rem;
          background-color: #F7D96D;
          width: 100%;
          padding: .1rem .2rem 0;
        }
      } 
    }
 
    a { 
      font-family: "Lucida Console", Monaco, monospace;
      color: white;
      font-size: 1.2rem;
      display: inline-block; 
      margin: 0; 
      margin-top: 1.5rem;
      margin-bottom: 2rem; 
      background-color: $laranja-principal;
      padding: .4rem .5rem .2rem;
      border-radius: 1px;
    } 
  } 
 
 
  @media screen and (min-width: 1024px) { 

    background-image: url("img/selecao20202.png"); 
 
      .container { 
        max-width: 620px;
 
        h2 { 
          padding-bottom: 1.5rem; 
        } 
      } 
 
  } 
}