header {
  display: inline-flex;
  flex-flow: column;
  width: 100%;
  font-size: 1rem;
  color: white;

  .atalhos-navegacao {
    position: absolute;

    .atalho-navegacao {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: translate(-100%);
      transform: translate(-100%);
      text-align: center;
      z-index: 200;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
      }

      &:focus {
        -webkit-transform: translate(0);
        transform: translate(0);
      }

      > span {
        color: #fff;
        display: inline-block;
        font-size: 2rem;
        padding: 6rem 0 0;
        color: #fff;
        font-size: 2rem;
        line-height: 1.4;
        padding: 4rem 0;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  #barraAuxiliar,
  .topo {
    .caixa {
      display: inline-flex;
      flex-wrap: wrap;
      max-width: 100%;
    }
  }

  #barra-brasil {
    order: 1;
  }

  #barraAuxiliar {
    display: inline-flex;
    background-color: $azulEscuro;
    font-weight: $light;
    font-size: 0.875rem;
    order: 2;
    z-index: 2;

    .caixa {
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      color: white;
      position: relative;

      #ufes{ 
        flex-grow: 10; 

        a:hover{
          span{
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: #f06c00;
          }
        }

        img{
          height: 18px;
          margin-left: 8px;
          vertical-align: middle;
        }
        span{
          margin-left: 5px;
          padding: 0.3em;
        }

        @media screen and (max-width: 992px) {
          position: absolute;
          left: 0;
          top: .6rem;

          span{ display: none;}
        }
      }
    }

    .btoMenu {
      padding: 10px;
      width: 100vw;
      text-align: right;

      i.fas {
        font-size: 0.8rem;
        margin-left: 0.25rem;

        &.expandido:before {
          content: "\f077";
        }
      }
    }
  }

  form {
    flex-grow: 10;
    display: flex;
    justify-content: flex-end;
  }

  .topo {
    order: 3;

    .caixa {
      justify-content: space-between;
    }

    .marca {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media screen and (min-width: 993px) {
    #barraAuxiliar,
    .topo {
      .btoMenu {
        display: none;
      }
    }

    form {
      flex-grow: 0;

      .botaoFalso {
        padding: 10px 25px;
      }
    }

    #topoPrincipal {
      #menuPrincipal {
        flex-grow: 10;
        display: flex;
        justify-content: flex-end;

        > ul > li {
          height: calc(100px - 2.4rem);

          &#espaco {
            width: 13rem;
          }
        }
      }
    }

    .topo {
      display: inline-flex;
      position: relative;
      height: 100px;
      padding: 0 20px;
      background-color: $azulRegular;

      .caixa {
        display: inline-flex;
        justify-content: space-between;
      }
    }
  }

  @media screen and (max-width: 992px) {
    #topoPrincipal {
      #menuPrincipal {
        order: 4;
      }

      #formPesquisa {
        order: 2;
      }

      .btoMenu {
        order: 3;
      }
    }

    .topo {
      background-color: $azulRegular;
      color: white;

      a {
        text-decoration: none;
        color: white;
      }

      .caixa {
        svg.seadUfesExtenso,
        .btoMenu {
          margin: 10px;
          z-index: 1;
        }

        svg.seadUfesExtenso {
          width: auto;
          height: 40px;
          padding: 5px 0;
          margin-right: -5rem !important;
          margin-left: 10px !important;
          
          .assinatura{ display: none; }
        }

        .btoMenu {
          padding: 10px;
          line-height: 30px;
          text-transform: uppercase;
          font-weight: $medium;
          margin: 10px 0;
          
          i{font-size: .9rem;}
        }
      }
    }

    .btoMenu {
      cursor: pointer;
    }
  }
}

@import "menu";
