header {
  display: inline-flex;
  flex-flow: column;
  width: 100%;
  font-size: 1rem;
  color: white;

  #barra-brasil {order: 1;}

  #barraAuxiliar {
    display: inline-flex;
    background-color: $azulEscuro;
    font-weight: $light;
    font-size: .875rem;
    order: 2;
    z-index: 2;

    section.caixa {
      display: inline-flex;
      align-items: center;
      color: white;
    }

/*    ul {
      display: inline-flex;

      button {
        background: transparent;
        border: none;
        color: white;
        padding: 0;
      }     
    }*/

/*    #ligacoesExternas {

      > li {
        position: relative;
        display: inline-flex;        
        padding: 1rem 10px;
        font-size: .9rem;

        i.fas {
          margin-right: .25rem;
        }
      }
    }*/

    .btoMenu {
      margin: 10px;
      width: calc(100vw - 20px);
      text-align: right;
    }
  }
}

@import 'menu';
@import 'pesquisa';