* {
  &:focus {
    outline: 2px solid $laranja;
    outline-offset: 2px;
  }
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;

  &.contraste {

    * {
      background-color: black !important;
      color: white;

      a {
        color: yellow;
      }
    }

    #topoSuperior, #topoPrincipal, #topoBlog {
      border-bottom: 1px solid white;
    }
  }
}

section.caixa {
  margin: 0 auto;
  width: 960px;
}