html { 
	font-size: 16px; 
} 
 
body { 
	  overflow-x: hidden; 
    margin: 0; 
    font-family: $sans; 
    font-size: 1rem; 
} 
  
*:focus { 
	outline: none; 
} 
 
.focus-visible { 
	box-shadow: 0 0 0 2px lighten($laranja-medio, 20%); 
} 
 
.somente-leitura { 
	position: absolute; 
	left: -999rem; 
} 
 
a { 
    text-decoration: none; 
    color: inherit; 
} 
 
ul { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
} 

.container { 
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem; 
  margin: 0 auto; 
  max-width: 1140px;  

  @media (min-width: 768px) {
    padding: 0 2rem;
  }

  @media (min-width: 1180px) {
    padding: 0;
  }
} 

.container-texto{
  max-width: 720px;
  margin: 0 auto;
}

.breadcrumb { 
	background: none; 
	padding: 0; 
	font-size: 0.8rem; 
	margin: 3rem 0 1.5rem; 
 
	a { 
		color: $azul-medio; 
		font-weight: 500; 
 
		&:hover { 
			border-bottom-color: $azul-medio; 
		} 
	} 
 
	i { 
		color: $laranja-principal; 
		font-size: 0.6rem; 
		padding: 0.3rem 0.3rem 0; 
	} 
 
	span:first-of-type { 
		margin-right: 0.3rem; 
		width: 100%; 
 
		@media screen and (min-width: 400px) { 
			display: inline-block; 
			width: fit-content; 
		} 
	} 
 
	span:last-of-type { 
		color: $azul-principal; 
	} 
} 

.paginacao { 
  color: $laranja-medio; 
  padding: 1rem 1rem 2rem; 
  text-align: center; 
  font-weight: $bold; 
 
  a, 
  span { 
    padding: .1rem .5rem; 
    margin: 0 .2rem; 
  } 
 
  a:hover { 
    border-bottom: solid 1px $laranja-escuro; 
    color: $laranja-escuro; 
  } 
 
  .current { 
    color: $azul-principal; 
    background-color: $azul-claro; 
    border-radius: 2px; 
  } 
 
  h2 { 
    display: none; 
  } 
} 

.mapaES {
  text {
    font-weight: $bold;
    font-family: inherit;
    font-size: 1rem;
  }

  #semPolos {
    path {
      fill: rgb(220, 220, 220);
    }
  }

  #comPolos {
    a {
      cursor: pointer;

      .geografia {
        fill: $azul-claro;
      }

      &:hover {
        .geografia {
          fill: $laranja-claro;
        }
      }

      .geografia.selecionado {
        fill: $laranja-claro;
      }
    }
  }
}

a[target='_blank'] i.fa-external-link-alt {
  font-size: 0.8em;
}
