* {
  &:focus {
    outline: 2px solid $laranja;
    outline-offset: 2px;
  }
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;

  &.contraste {

    * {
      background-color: black !important;
      color: white;

      a {
        color: yellow;
      }
    }

    #topoSuperior, #topoPrincipal, #topoBlog {
      border-bottom: 1px solid white;
    }
  } 
}

section.caixa {
  margin: 0 auto;
  width: 960px;
}

main{
    margin: 2rem 1rem;
    
    #breadcrumbs{
        font-size: .8rem;
        
        a{
            color: $azul;
            font-weight: $medium;
            
            &:hover{
                color: $laranja;
                text-decoration: underline;
            }
        }

        span{
            color: $azulClaro;
        }
    }

    h1{
        font-size: 2rem;
        font-weight: $bold;
        color: $azul;
    }
  }

@media screen and (min-width: 992px) {
    
    main{
        max-width: 960px;
        margin: 3rem auto;
    }
}