#hotsite-selecao {
  header {
    background-attachment: scroll, fixed;
    background-size: cover;
    background-position: center;

    .caixa {
      padding: 1rem;
      margin: 0;
      margin-top: 1.5rem;

      .box-marca {
        position: absolute;
        left: 0;
        border-bottom: 5.5rem solid $azul-principal;
        border-left: 0 solid transparent;
        border-right: 35px solid transparent;
        width: 75%;
      }

      a.marca {
        position: absolute;
        z-index: 2;
        margin-top: 0.7rem;
      }

      .box-nav {
        position: absolute;
        left: 0;
        border-bottom: 2.5rem solid $azul-escuro;
        border-left: 0 solid transparent;
        border-right: 16px solid transparent;
        width: calc(75% + 35px);
        top: 8rem;
      }

      a.nav {
        text-transform: uppercase;
        position: absolute;
        z-index: 2;
        margin-top: 6.2rem;
        font-weight: $medium;
        margin-left: 2.6rem;
      }
    }

    h1 {
      margin: 0 auto;
      margin-top: 10rem;
      margin-bottom: 2rem;
      width: calc(320px - 2rem);
      color: $azul-principal;
      font-size: 3rem;
      line-height: 1.2;
      display: flex;
      flex-direction: column;

      .destaque-amarelo{
        // padding: .2rem;
        margin-bottom: .7rem;
        font-size: .5em;
        color: #1E1E24;
        font-family: "Lucida Console", Monaco, monospace;
        position: relative;
        width: fit-content;

        &:first-of-type::before{
          content: "Processo";
          position: absolute;
          height: 1.6rem;
          background-color: #F7D96D;
          width: 100%;
          padding: .1rem .2rem 0;
        }

        &:nth-of-type(2)::before{
          content: "Seletivo 2020";
          position: absolute;
          height: 1.6rem;
          background-color: #F7D96D;
          width: 100%;
          padding: .1rem .2rem 0;
        }
      }
    }
  }

  section {
    margin-top: 4rem;
  }

  #como-funciona {
    font-weight: $light;

    h2 {
      text-align: left;
      margin-bottom: 3rem;
    }

    .topicos {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 100%;
    }

    .topico-ead {
      flex: 1 1 100%;
      margin: 0.75rem auto;
      min-width: 160px;
      max-width: 240px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      line-height: 1.5;
      padding: 0 0.8rem;

      figure {
        width: 100%;
        margin: 0;

        svg {
          height: 72px;
          width: auto;
        }

        figcaption {
          color: $azul-principal;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: $bold;
          margin-top: 0.5rem;
        }
      }
    }

    p {
      margin-left: 0 !important;
      max-width: 100%;
      max-width: 750px;
    }

    a {
      @extend %botao;
      border-radius: 1px;
      margin: 2rem 0;
      display: inline-block;
      line-height: 1;
    }
  }

  #conheca-os-cursos {
    #lista-cursos {
      vertical-align: top;

      #botoes-curso > button {
        @extend %botao;
        border-radius: 1px;
        margin: 0;
        margin-bottom: 1rem;
        margin-right: 0.5rem;
        width: 156px;
        padding: 0.6rem 0.75rem;

        &.selecionado {
          background-color: $azul-claro;
          color: $azul-escuro;
        }
      }

      #polos-do-curso {
        margin-top: 1.5rem;

        ul {
          display: none;

          li:last-of-type {
            margin-bottom: 3rem;
          }

          a {
            @extend %botao;
          }
        }
      }
    }

    svg {
      display: none;

      path.aceso {
        fill: $azul-claro;
      }
    }
  }

  #inscricao {
    li {
      color: #595959;
      font-size: 1rem;
      text-align: left;
      padding: 0.5rem 0;
      vertical-align: top;

      i {
        padding-left: 0.5rem;
      }

      div {
        display: inline-block;
        height: 4rem;
      }

      .numero {
        color: white;
        font-size: 2rem;
        font-weight: $bold;
        background-color: $laranja-medio;
        width: 3.5rem;
        line-height: 1.7;
        height: 3.5rem;
        border-radius: 2rem;
        text-align: center;
        vertical-align: top;
      }

      .instrucao {
        width: calc(100% - 5rem);
        vertical-align: sub;
        margin-left: 0.5rem;
        display: inline-block;
        line-height: 1.5;
        padding-top: 0.25rem;
        text-transform: uppercase;
        font-weight: $medium;

        &:hover {
          span {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        span {
          color: $laranja-medio;
          text-transform: none;
          display: block;
          font-size: 1rem;
          font-weight: $regular;
        }
      }

      &:last-of-type{
        span{
          background-color: $laranja-medio;
          color: white;
          border-radius: 1px;
          display: inline-block;
          padding: 0 .4rem;
          margin-top: .2rem;
        }
      }
    }
  }

  footer {
    padding-top: 0;

    .creditos {
      margin-top: 0;
      background-color: $azul-escuro;
    }
  }

  @media (min-width: 1024px) {
    header {
      height: 40vh;

      .caixa {
        .box-marca {
          width: 39%;
        }

        .box-nav {
          width: calc(39% + 35px);
        }
      }

      h1 {
        width: 420px;
        float: right;
        margin-top: 0;

        .editais {
          font-size: 3rem;
        }
        .aluno {
          max-width: 175px;
          font-size: 1.35rem;
        }
        .ufes {
          font-size: 3.5rem;
        }
      }
    }

    #como-funciona {
      .topicos {
        flex-wrap: nowrap;
      }
    }

    #conheca-os-cursos {
      #lista-cursos {
        display: inline-block;
        width: 59%;

        #botoes-curso > button {
          font-size: 18px;
          width: 180px;
        }
      }

      svg {
        width: 40%;
        height: auto;
        display: inline-block;
        pointer-events: none;
        margin-top: -3rem;
      }
    }

    #inscricao {
      margin-bottom: 3rem;

      ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 0 auto;
        max-width: 100%;
      }

      li {
        flex: 1 1 100%;
        margin: 0 auto;
        max-width: 300px;
        display: inline-block;

        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }
    }
  }
}
