/* .page > #ead-na-ufes, #secretaria, single-curso */
@mixin destaque($cor, $url) {
  position: relative;
  height: 65vh;
  max-height: 545px;
  background-image: linear-gradient($cor, transparent), $url;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-top: 0;

  .titulo {
    padding: 6rem 1rem;
    color: white;
    line-height: 3rem;

    h1 {
      color: white;
    }

    .fas {
      margin: 0.5rem 0;
      font-size: 3.875rem;
    }
  }

  @media (max-width: 992px) {
    min-height: 35vh;

    .titulo {
      padding: 3rem 1rem;
    }
  }

  &:hover {
    background-image: linear-gradient(darken($cor, 5), transparent), $url;

    .titulo {
      .fas {
        font-size: 5rem;
      }
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
