// page-ead-na-ufes, page-secretaria, single-curso, single-noticia
@mixin destaque($cor) {
  position: relative;
  height: 65vh;
  max-height: 545px;
  overflow: hidden;
  background-image: linear-gradient($cor, transparent);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-top: 0;

  &:hover {
    background-image: linear-gradient(darken($cor, 5), transparent);
  }

  &.destaque-imagem{
    height: 35vh;

    &:hover {
      background-image: linear-gradient($cor, transparent);
    }
  }

  .titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6rem 1rem;
    text-align: center;
    line-height: 3rem;
    color: white;

    h1, h2 {
      color: white;
    }

    .fas {
      margin: 0.5rem 0;
      font-size: 3.875rem;
    }
  }

  video, img {
    position: absolute;
    top: -50%;
    left: 0;
    z-index: -1;
    //width: 100%;
  }

  @media (max-width: 992px) {
    min-height: 35vh;

    .titulo {
      padding: 3rem 1rem;
    }
  }
}
