#secretaria{

  .destaque { @include destaque($laranja); }

  #misVisValCap {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;    
    height: auto;
    padding: 0 0 2rem 0;
    margin: 0;
    width: 100%;

    &:before, &:after {
      display: none;
    }

    .misVisVal {
      width: 100%;

      h2 {
        display: flex;
        justify-content: space-between;
        margin: 0 auto 1rem auto;
        line-height: 3.75rem;
        font-style: italic;
        color: $laranja;
        margin-top: 2rem;
        width: 100%;

        span {
          display: none;

          &.ativo {
            display: initial;
            margin: 0 auto;
            color: $laranja;
          }
        }
      }

      p {
        font-size: 1.25rem;
        color: $azul;
        text-align: center;
        line-height: 2.4rem;
      }
    }
  } /* #misVisValCap */

  #estrutura{

    h2{ margin-top: 6rem; }

    h3{ @extend %largura-texto; }

    #dirigentes{
      li{
        display: block;
        width: 100%;
        margin: 1rem 0;
        margin-right: 0;
      }
    }

    p > a{
      font-style: italic;
      color: $azul;
      margin-left: .5rem;

      &:hover{
        border-bottom: .5px solid $azul;
      }
    }

    #planta-sead{
      margin: 6rem 0;
      margin-bottom: 1rem;

      span{
        width: 100%;
        font-size: 2rem;
        color: $azul;
        line-height: 1.4;
        font-weight: $light;
      }

      button{
        @extend %botao;
        width: 100%;
        margin-top: 2rem;
      }

      img{
        width: 100%;
        margin-top: 4rem;
      }
    }
  }


  @media (min-width: 992px){

    #misVisValCap {
      position: relative;
      margin: 0 -100px;
      width: calc(100% + 200px);
      height: 200px;
      padding: 3.5rem 0;
      overflow: hidden;

      &:before, &:after {
        position: absolute;
        display: block;
      }

      &:before {
        content: url('svg/aspas-abrir.svg');
        top: 100px;
        left: 100px;
      }

      &:after {
        content: url('svg/aspas-fechar.svg');
        top: 200px;
        right: 100px;
      }

      &.missaoAtivo {
        .missaoCap   {left: 100px;}
        .visaoCap    {right: -9999px;}
        .valoresCap  {right: -9999px;}
      }

      &.visaoAtivo {
        .missaoCap   {left: -9999px;}
        .visaoCap    {left: 100px;}
        .valoresCap  {right: -9999px;}
      }

      &.valoresAtivo {
        .missaoCap   {left: -9999px;}
        .visaoCap    {left: -9999px;}
        .valoresCap  {right: 100px;}
      }

      .misVisVal {
        position: absolute;
        width: calc(100% - 200px);

        h2 {
          width: 550px;
          font-size: 3rem;

          span {
            cursor: pointer;
            display: initial;

            &.ativo {
              color: $azul;
              margin: 0;
            }
          }
        }

        p {
          font-size: 1.75rem;
        }
      }
    } /* #misVisValCap */

    #estrutura{
      margin-top: 7rem;

      #dirigentes{
        li{
          display: inline-block;
          width: calc(50% - 2rem);
          margin-right: 1rem;
        }
      }

      #planta-sead{
        position: relative;
        margin-bottom: 6rem;

        span{
          width: 60%;
          display: block;
        }

        button{
          margin: 1rem 0;
          margin-top: 3rem;
          width: auto;
        }

        img{
          position: absolute;
          width: 60%;
          height: auto;
          right: 0;
          top: -2rem;
          margin-top: 0;
        }
      }
    }

  } /* media */
} /* #secretaria */