.page-contatos {
  .lista-contatos {
    margin-bottom: 4rem;

    .titulos {
      display: none;
    }

    li {
      border-top: solid 0.5px $azul-claro;

      h3 {
        font-size: 1.2rem;
        margin: 1.5rem 0;
      }

      div {
        padding-bottom: 1.5rem;

        span {
          font-weight: $bold;
          color: gray;
          display: block;
        }
      }
    }

    @media (min-width: 864px) {
      border-bottom: solid 0.5px $azul-claro;

      .titulos {
        display: block;

        span {
          width: 39%;
          font-weight: $bold;
          color: $azul-principal;
          font-size: 1.2rem;
          margin: 0.5rem 0;
          display: inline-block;

          &:first-of-type {
            width: 22%;
          }
        }
      }

      li {
        padding-top: 0.8rem;
        font-size: 1rem;

        h3 {
          width: calc(22% - 0.5rem);
          padding-right: 0.5rem;
          font-size: 1rem;
          display: inline-block;
          margin: 0;
          vertical-align: top;
        }

        div {
          display: inline-block;
          width: 39%;
          padding-bottom: 0.8rem;
          vertical-align: top;

          span {
            display: none;
          }
        }
      }
    }
  }
}
