#page-polos {

  #mapaInterativo{
    margin: 5rem 0;
    position: relative;

    .popoverMunicipios{
      width: 100%;
      display: inline-block;
      vertical-align: top;
      line-height: 1.5;
      font-weight: $light;
      margin-bottom: 2rem;

      h2{
        color: $laranja;
        font-size: 1.5rem;
      }

      i{
        color: $azulClaro;
      }

      p{
        font-size: 2rem;
        color: $azul;
        line-height: 1.3;
        margin-top: 1rem;
        position: relative;
        margin-bottom: 4rem;

        &:after{
          content: '';
          position: absolute;
          height: 0;
          left: 0;
          width: 100%;
          border-top: 2px solid $azulClaro;
          margin-top: 4rem;
        }
      }
    }

    #polos{
      li{
        padding: .5rem 0;

        button.municipioTitulo{
          font-weight: $medium;
          color: $azul;
          cursor: pointer;
          transition: font-size .2s;
          border: none;
          background: none;

          &:hover{
            border-bottom: solid .5px $azulEscuro;
            color: $azulEscuro;
          }
        }

        .info-polo{
          display: none;
          line-height: 1.5;
          padding-top: 1rem;
          padding-left: 1rem;

          i{color: $laranja;}
        }

        &.expandido{
          button.municipioTitulo{
            font-weight: $bold;
            font-size: 1.5rem;
            color: $laranja;

            &:hover{
              border: none;
            }
          }
          .info-polo{
            display: block;
          }
        }
      }
    }
  }

  svg {
    display: none;
  }

  @media screen and (min-width: 992px) {

    #mapaInterativo {

      .popoverMunicipios {
        width: 45%;

        p:after {
          width: 32rem;
        }
      }

      svg{
        display: inline-block;
        width: 50%;
        position: sticky;
        top: 3rem;

        text {
          font-weight: $bold;
          font-family: inherit;
          font-size: 1rem;
        }

        #semPolos {
          path {
            fill: rgb(220,220,220);
          }
        }

        #comPolos {
          a{
            cursor: pointer;

            g {
              .geografia {
                fill: $azulClaro;
              }

              .pin {
                fill: darken($azul, 40%) !important;
                stroke: none;
              }

              text {
                fill: #333;
              }
            }

            &:hover{
              g {
                .geografia {
                  fill: $azul;
                }
              }
            }
            &.selecionado{
              g{
                .geografia{
                  fill: $laranjaClaro;
                }
              }
            }
          }
        }
      }
    }
  }
}
