.page {
  line-height: 1.8rem;

  p {
    font-weight: $light;
  }

  blockquote {
    color: $laranja;
    font-family: $texto;
    font-weight: $bold;
    font-style: italic;
    margin: 2rem 0;
    font-size: 1.25rem;
  }
  
  p, blockquote{
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
} /* page */