#secretaria {
  .destaque {
    @include destaque($laranjaRegular, none);
  }

  #missao-visao-valores {
    margin: 4rem 0;
    position: relative;

    li{
      text-align: center;
      width: 240px;
      margin: 0 auto;
      padding: 0 1rem;

      h2{
        text-transform: lowercase;
        font-style: italic;
        font-size: 3rem;
        font-weight: $extra-bold;
        color: $laranjaRegular;
      }

      p{
        color: $azulEscuro;
        font-weight: $bold;
        line-height: 1.6;
      }
    }
  }

  #estrutura {
    h2 {
      margin-top: 6rem;
    }

    h3 {
      @extend %largura-texto;
    }

    #dirigentes {
      li {
        display: block;
        width: 100%;
        margin: 1rem 0;
        margin-right: 0;
      }
    }
    #infraestrutura {
      p > a {
        font-style: italic;
        color: $azulRegular;
        margin-left: 0.5rem;

        &:hover {
          border-bottom: 0.5px solid $azulRegular;
        }
      }
    }

    #planta-sead {
      margin: 6rem 0;
      margin-bottom: 1rem;

      span {
        width: 100%;
        font-size: 2rem;
        color: $azulRegular;
        line-height: 1.4;
        font-weight: $light;
      }

      button#abrir-modal {
        @extend %botao;
        width: 100%;
        margin-top: 2rem;
      }
      
      img#planta{ display: none; }

      #modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);

        #modal-content {
          background-color: #fefefe;
          margin: 50vh 1rem;
          transform: translateY(-50%);
          padding: 20px;
          border: 1px solid #888;
          border-radius: 5px;

          #close {
            color: white;
            float: right;
            font-size: 18px;
            line-height: 1.2;
            font-weight: bold;
            background-color: rgba(0,0,0,0.3);
            border: none;
            cursor: pointer;
            border-radius: 2px;
          }
          
          img{ width: 100%; }
        }
      }
    }
  }

  @media (min-width: 993px) {

    #missao-visao-valores{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding: 0 3rem;

      &:before,
        &:after {
        position: absolute;
        padding-top: 4rem;
      }

      &:before {
        content: url(svg/aspas-abrir.svg);
        left: 0;
      }

      &:after {
        content: url(svg/aspas-fechar.svg);
        right: 0;
      }
    }

    #estrutura {
      margin-top: 7rem;

      #dirigentes {
        li {
          display: inline-block;
          width: calc(50% - 2rem);
          margin-right: 1rem;
        }
      }

      #planta-sead {
        position: relative;
        margin-bottom: 3rem;

        span {
          width: 60%;
          display: block;
        }

        button#abrir-modal {
          margin: 1rem 0;
          margin-top: 3rem;
          width: auto;
        }
        
        img#planta{ 
          display: block;
          width: 50%;
          float: right;
          cursor: pointer;
          margin-top: -5rem;
        }

        #modal{
          #modal-content{
            width: 50%;
            margin: 50vh auto;
          }
        }
      }
    }
  } /* media */

} /* #secretaria */
