#secretaria{

  .destaque { @include destaque($laranja); }

  #abas {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin: 0 -100px;
    width: calc(100% + 200px);
    height: 200px;
    padding: 3.5rem 0;
    overflow: hidden;

    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      content: url(svg/aspas-abrir.svg);
      top: 100px;
      left: 100px;
    }

    &:after {
      content: url(svg/aspas-fechar.svg);
      top: 200px;
      right: 100px;
    }

  .tabsList {
      display: flex;
      justify-content: space-between;
      margin: 0 auto 1rem auto;
      width: 550px;
      line-height: 3.75rem;
      text-transform: lowercase;
      font-style: italic;
      font-size: 3rem;
      font-weight: $extra-bold;
      color: $laranja;

      .current {
        color: $azul;
      }
    }

    .tabPanel {
      text-align: center;
      line-height: 2.4rem;
      font-size: 1.75rem;
      color: #1661A6;
    }
  }

  #estrutura{

    h2{ margin-top: 6rem; }

    h3{ @extend %largura-texto; }

    #dirigentes{
      li{
        display: block;
        width: 100%;
        margin: 1rem 0;
        margin-right: 0;
      }
    }

    p > a{
      font-style: italic;
      color: $azul;
      margin-left: .5rem;

      &:hover{
        border-bottom: .5px solid $azul;
      }
    }

    #planta-sead{
      margin: 6rem 0;
      margin-bottom: 1rem;

      span{
        width: 100%;
        font-size: 2rem;
        color: $azul;
        line-height: 1.4;
        font-weight: $light;
      }

      button{
        @extend %botao;
        width: 100%;
        margin-top: 2rem;
      }

      img{
        width: 100%;
        margin-top: 4rem;
      }
    }
  }


  @media (min-width: 992px){

    #estrutura{
      margin-top: 7rem;

      #dirigentes{
        li{
          display: inline-block;
          width: calc(50% - 2rem);
          margin-right: 1rem;
        }
      }

      #planta-sead{
        position: relative;
        margin-bottom: 6rem;

        span{
          width: 60%;
          display: block;
        }

        button{
          margin: 1rem 0;
          margin-top: 3rem;
          width: auto;
        }

        img{
          position: absolute;
          width: 60%;
          height: auto;
          right: 0;
          top: -2rem;
          margin-top: 0;
        }
      }
    }

  } /* media */
} /* #secretaria */
