.page-polos {
  #mapaInterativo {
    margin: 5rem 0;
    position: relative;

    .popoverMunicipios {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      line-height: 1.5;
      font-weight: $light;
      margin-bottom: 2rem;

      h2 {
        color: $laranjaRegular;
        font-size: 1.5rem;
      }

      i {
        color: $azulRegular;
      }

      p {
        font-size: 2rem;
        color: $azulRegular;
        line-height: 1.3;
        margin-top: 1rem;
        position: relative;
        margin-bottom: 4rem;

        &:after {
          content: "";
          position: absolute;
          height: 0;
          left: 0;
          width: 100%;
          border-top: 2px solid $azulClaro;
          margin-top: 4rem;
        }
      }
    } /* popoverMunicipios */

    #polos {
      li {
        padding: 0.5rem 0;

        button.municipioTitulo {
          font-weight: $medium;
          color: $azulRegular;
          cursor: pointer;
          transition: font-size 0.2s;
          border: none;
          background: none;

          &:hover {
            border-bottom: solid 0.5px $azulRegular;
          }
        }

        .info-polo {
          display: none;
          line-height: 1.5;
          padding-top: 1rem;
          padding-left: 1rem;
          margin-bottom: 1.2rem;

          i {
            color: $laranjaRegular;
          }
        }

        &.expandido {
          button.municipioTitulo {
            font-weight: $bold;
            font-size: 1.5rem;
            color: $laranjaRegular;
            margin-top: .8rem;

            &:hover {
              border: none;
            }
          }
          .info-polo {
            display: block;
          }
        }
      } /* li */
    } /* #polos */

    .mapaES {
      position: sticky;
      top: 3rem;
      width: 50%;
    }
  } /* #mapaInterativo */

  @media screen and (min-width: 992px) {
    #mapaInterativo {
      .popoverMunicipios {
        width: 45%;

        p:after {
          width: 32rem;
        }
      }
    } /* #mapaInterativo */
  } /* media */

  @media screen and (max-width: 991px) {
    #mapaInterativo {
      .mapaES {
        display: none;
      }
    }
  }
}
