#page-cursos{

  p > a{
    color: $laranjaMedio;
    font-weight: $medium;

    &:hover{ border-bottom: .5px solid $laranjaMedio;}
  }

  #abas {
    .tabsList {
      display: flex;
      justify-content: flex-start;
      margin: 3rem 0;
      color: $azulRegular;
      border-bottom: 1px $azulRegular solid;

      li{
        margin-right: 1.5rem;

        a:hover {
          color:  $azulEscuro;
        }

        &.current {
          color: $azulEscuro;
          font-weight: $bold;
          border-bottom: 2px $azulEscuro solid;

          a:hover {
            cursor: default;
            color: inherit;
          }
        }
      }
    }

    .tabPanel {
      ul{
        display: flex;
        flex-wrap: wrap;
        margin-right: -2rem;

        a{
          height: 7rem;
          max-width: calc(100% - 4rem);
          background-image: linear-gradient(transparent, $azulRegular);
          color: white;
          vertical-align: baseline;
          padding: 1rem;
          flex: 1 0 100%;
          margin-right: 1rem;
          margin-bottom: 2rem;
          position: relative;

          li{
            bottom: 1rem;
            position: absolute;

            h3{
              color: white;
              margin: 0;
              padding: 0;
              font-size: 1.3rem;
              font-weight: 600;
              line-height: 1.5rem;
            }
          }

          &:hover{
            background-image: linear-gradient(transparent, darken($azulRegular, 10));

            h3{ 
              text-decoration: underline $laranjaRegular;
              text-underline-position: under;
            }
          }

          &.inativo{
            background-image: linear-gradient(transparent, gray);
            cursor: default;
            box-shadow: 0px -5px 0px $azulRegular inset;

            span{ 
              display: none;
            }

            &:hover{             
              h3{ text-decoration: none; }
              background-image: linear-gradient(transparent, darken(gray, 10));

              span{ 
                display: block;
                border-radius: 5px;
                position: absolute;
                top: -3.5rem;
                width: 315px;
                background-color: white;
                color: $azulRegular;
                border: $azulRegular solid 1px;
                padding: 3px 10px;
                z-index: 1;

                &:before{
                  content: '';
                  width: 0px;
                  height: 0px;
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                  border-top: 10px solid $azulRegular;
                  position: absolute;
                  top: 2.1rem;
                  left: 2rem;
                }

                &:after{
                  content: '';
                  width: 0px;
                  height: 0px;
                  border-left: 9px solid transparent;
                  border-right: 9px solid transparent;
                  border-top: 9px solid white;
                  position: absolute;
                  top: 2.1rem;
                  left: 2.1rem;
                }
              }
            }
          }
        }
      }
    }
  }


  @media(min-width: 992px){
    #abas{

      .tabPanel{
        ul{
          a{
            max-width: 28%;
            flex: 1 0 28%;
          }
        }
      }

    }
  }
}