#informativo-invalido {
  > * {
    padding-left: 5rem;
    padding-right: 3rem;
  }

  h1 {
    padding-top: 5rem;
    font-size: 5rem;
  }

  section {
    margin-bottom: 6rem;

    a {
      display: inline-block;
      margin-top: 1rem;
      font-weight: $medium;
      color: $laranjaMedio;

      &:hover {
        border-bottom: solid 0.5px $laranjaMedio;
      }

      i {
        font-size: 0.9rem;
      }
    }
  }
}
