.page-polos {
  .container-mapa {
    display: none;

    @media (min-width: 760px) {
      display: inline-block;
      position: sticky;
      position: -webkit-sticky;
      top: 3rem;
      width: 50%;
      margin-top: 4rem;
    }
  }

  #mapaES-polos {
    a:hover {
      .geografia {
        fill: darken($laranja-claro, 5%);
      }
    }

    a .selecionado {
      fill: $azul-claro;
    }

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  .container-lista {
    margin-bottom: 5rem;

    @media (min-width: 760px) {
      width: 45%;
      display: inline-block;
      vertical-align: top;
    }

    h2 {
      font-weight: $light;
      line-height: 1.4;
      font-size: 2rem;
      border-bottom: 1px solid $azul-claro;
    }
  }

  #lista-polos {
    li {
      padding: 0.5rem 0;

      .polo-titulo {
        font-weight: $medium;
        color: $laranja-medio;
        cursor: pointer;
        transition: font-size 0.5s;
        border: none;
        background: none;
        font-size: 1.1rem;

        &:hover {
          border-bottom: solid 0.5px $laranja-medio;
        }
      }

      .polo-info {
        display: none;
        line-height: 1.5;
        padding-top: 1rem;
        padding-left: 1rem;
        margin-bottom: 1.2rem;

        i {
          color: $azul-principal;
        }
      }

      &.expandido {
        .polo-titulo {
          font-weight: $bold;
          font-size: 1.5rem;
          color: $azul-principal;
          margin-top: 0.8rem;

          &:hover {
            border: none;
          }
        }
        .polo-info {
          display: block;
        }
      }
    }
  }
}
