%botao {
  background-color: $laranja-medio;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 0.6rem 2rem;
  margin: 1rem 0;
  font-weight: $medium;
  cursor: pointer;

  &:hover {
    background-color: $laranja-escuro;
  }
}

%largura-texto {
  max-width: 720px;
  margin-right: auto !important;
  margin-left: auto !important;
}
