.pagPesquisa {
  h1 {
    margin-bottom: 3rem;

    span {
      font-weight: $regular;
    }
  }

  #resultados {
    min-height: 15rem;

    li {
      list-style: none;
      max-width: 720px;
      margin: 0 auto;
      margin-bottom: 3rem;

      a {
        color: $laranjaMedio;
        font-weight: $medium;

        &:hover {
          color: $laranjaEscuro;
          border-bottom: solid 0.5ps $laranjaEscuro;
        }
      }

      span {
        font-weight: $light;

        strong {
          font-style: italic;
          color: $azulRegular;
          text-transform: capitalize;
        }
      }

      p {
        font-weight: $light;
        line-height: 1.6;
      }
    }
  } /* #resultados */
}
