
#formPesquisa {
  display: flex;
  align-self: center;
  align-items: center;
  border-radius: 25px;

  input, .botaoSubmissao {
    position: absolute;
    left: -9999px;
  }

  .botaoSubmissao, .botaoFalso {
    cursor: pointer;
    padding: 10px;
  }

  input {
    padding: 10px 35px 10px 15px;
  }

  /* Remove o 'X' do Internet Explorer */
  input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
  input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

  /* Remove o 'X' do Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }

  &.formPesquisaAtivo {
    position: relative;

    input, .botaoSubmissao {
      position: relative;
      left: 0;
      border: none;
      background: none;
      color: white;
    }

    input {
      border-radius: 25px;
      background-color: lighten($azul, 20%) !important; 
    }

    input::placeholder {
      color: white;
    }
    
    // Mudar cores do autocompletar (padrão: amarelo e preto)
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 30px lighten($azul, 20%) inset;
      -webkit-text-fill-color: white !important;
    }

    .botaoSubmissao {
      position: absolute;
      left: calc(100% - 40px);
    }

    .botaoFalso {
      display: none;
    }

  }

}








#formPesquisaDepreciado {

  input:-webkit-autofill {
    background-color: transparent !important;
  }

  input {
    float: right;
    height: 15px;
    outline: none;
    //background-color: transparent !important;

    &[type=search] {
      background: url(svg/fontawesome/search-solid.svg) no-repeat 9px center !important;
      background-color: transparent !important;
      -webkit-appearance: textfield;
      -webkit-box-sizing: content-box;
      font-family: inherit;
      font-size: 100%;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button {
      display: none;
    }

    &[type=search] {
      padding: 9px 10px 9px 32px;
      width: 55px;

      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;
    }

    &[type=search] {
      padding-left: 10px;
      color: transparent;
      cursor: pointer;
    }

    &[type=search]:focus {
      width: 130px;
      padding-left: 40px;
      border-radius: 15px;
      color: #fff;
      cursor: auto;
    }

    
  }
}