
//
// Fonte
//

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$merriweather: 'Merriweather', serif;
$fira: 'Fira Sans', sans;

//
// Cores antigas
//


$azul: #1661A6;
$azulClaro: #5992DD;
$azulEscuro: #043767;

$laranja: #E37531;
$laranjaClaro: #FDA65B;
$laranjaEscuro: #9C4C22;


// Cores Revisadas

/*
$azulExtraClaro: #EDF9FF;
$azulClaro: #CFEAFF;
$azulRegular: #1765AB;
$azulMedio: #05427B;
$azulEscuro: #043166;

$laranjaExtraClaro: #FFDCC5;
$laranjaClaro: #FFA161;
$laranjaRegular: #F06C00;
$laranjaMedio: #DB5800;
$laranjaEscuro: #C75000;

*/