
//
// Fonte
//

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$texto: 'Merriweather', serif;

//
// Cores
//

$azul: #1661A6;
$azulClaro: #5992DD;
$azulEscuro: #043767;



$azulGradiente: #1765AB to #053C7B; // declaração está incompleta
$azulGradienteTransp: #053C7B to #5992DD; // declaração está incompleta

$laranja: #E37531;
$laranjaClaro: #FDA65B;
$laranjaEscuro: #9C4C22;
$laranjaGradiente: #E37531 to #AB4711; // declaração está incompleta
