
//Nomenclatura atualizada
$azul-extra-claro: #edf9ff; 
$azul-claro: #CFEAFF; 
$azul-principal: #1765ab; 
$azul-medio: #053C7B; 
$azul-escuro: #043166; 
 
$laranja-extra-claro: #FFF5EE; 
$laranja-claro: #FFB481; 
$laranja-principal: #f06c00; 
$laranja-medio: #c75000; 
$laranja-escuro: #b24800; 

$verde-alerta: #04AB5F;

$degrade-azul: rgba( $azul-medio, .3 ); 
$degrade-laranja: rgba( $laranja-principal, .3 );

$azul-escuro-transparencia: rgba(4, 49, 102, .3);
$laranja-principal-transparencia: rgba(240, 108, 0, .3);