#selecao2019-1{

  header{
    background-attachment: scroll, fixed;
    background-size: cover;
    background-position: center;

    div.container{
      .caixa{
        padding: 1rem;
        margin: 0;

        .box-marca{
          position: absolute;
          left: 0;
          border-bottom: 5.5rem solid $azul-principal;
          border-left: 0 solid transparent;
          border-right: 35px solid transparent;
          width: 75%;
        }

        a.marca{
          position: absolute;
          z-index: 2;
          margin-top: .7rem;
        }

        .box-nav{
          position: absolute;
          left: 0;
          border-bottom: 2.5rem solid $azul-escuro;
          border-left: 0 solid transparent;
          border-right: 16px solid transparent;
          width: calc(75% + 35px);
          top: 8.5rem;
        }

        a.nav{
          text-transform: uppercase;
          position: absolute;
          z-index: 2;
          margin-top: 6.2rem;
          font-weight: $medium;
          margin-left: 2.6rem;
        }
      }

      h1{
        margin: 0 auto;
        margin-top: 10rem;
        width: calc(320px - 2rem);

        .editais{
          font-weight: $bold;
          font-style: italic;
          font-size: 2.5rem;
          display: block;
        }
        .aluno{
          font-weight: $regular;
          text-align: right;
          max-width: 130px;
          font-size: 1.3rem;
          display: inline-block;
        }
        .ufes{
          font-family: $serif;
          font-style: italic;
          font-weight: $bold;
          text-transform: uppercase;
          font-size: 3rem;
          display: inline-block;
        }
      }
    }
  }
  
  section{ margin-top: 4rem; }

  #como-funciona{
    font-weight: $light;
    text-align: center;

    h2{ text-align: left; }

    .topico-ead {
      margin: 1.5rem auto;
      width: 160px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      line-height: 1.5rem;

      &:not(:first-child){ padding-left: 1.2rem; }

      figure {
        width: 100%;
        margin: 0;

        svg {
          height: 72px;
          width: auto;
        }

        figcaption {
          color: $laranja-principal;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: $bold;
          margin-top: .5rem;
        }
      }
    }

    p{ 
      margin-left: 0 !important;
      max-width: 100%;
    }

    button{ @extend %botao; }
  }

  #conheca-os-cursos{

    #lista-cursos{
      vertical-align: top;

      #botoes-curso> button{
        @extend %botao;
        background-color: $azul-escuro;
        margin: 0;
        margin-bottom: 1rem;
        margin-right: .5rem;
        width: 150px;
        padding: .6rem 1rem;

        &:hover{
          background-color: darken($azul-escuro, 10);
        }

        &.selecionado{
          background-color: $azul-claro;
          color: $azul-escuro;
        }
      }

      #polos-do-curso{
        margin-top: 1.5rem; 

        ul{ 
          display: none;
          
          li:last-of-type{ margin-bottom: 3rem; }
          
          a{ @extend %botao; }
        }
      }
    }

    svg{
      display: none;
      
      path.aceso{ fill: $laranja-claro; }
    }
  }

  #inscricao{

    li {
      color: $laranja-medio;
      font-size: 1rem;
      text-align: left;
      padding: 0.5rem 0;
      vertical-align: top;

      i {
        padding-left: 0.5rem;
      }

      div {
        display: inline-block;
        height: 4rem;
      }

      .numero {
        color: white;
        font-size: 2rem;
        font-weight: $bold;
        background-color: $laranja-medio;
        width: 3.5rem;
        line-height: 1.7;
        height: 3.5rem;
        border-radius: 2rem;
        text-align: center;
        vertical-align: top;
      }

      .instrucao {
        width: calc(100% - 5rem);
        vertical-align: sub;
        margin-left: 0.5rem;
        display: inline-block;
        line-height: 1.5;
        padding-top: .25rem;
        text-transform: uppercase;
        font-weight: $medium;

        &:hover {
          span{
            text-decoration: underline;
            cursor: pointer;
          }
        }

        span{ 
          color: $laranja-principal;
          text-transform: none;
          display: block;
          font-size: 1rem;
          font-weight: $regular;
        }
      }
    }
  }

  @media(min-width: 992px){

    header{
      height: 45vh;

      div.container{
        width: 100%;

        .caixa{
          .box-marca{
            width: 38%;
          }

          .box-nav{
            width: calc(38% + 35px);
          }
        }
        h1{
          width: 350px;
          float: right;
          margin-top: 0;

          .editais{
            font-size: 3rem;
          }
          .aluno{
            max-width: 170px;
            font-size: 1.5rem;
          }
          .ufes{
            font-size: 3.5rem;

          }
        }

      }
    }

    #como-funciona{
      text-align: left;

      p{ max-width: 720px; }
    }

    #conheca-os-cursos{

      #lista-cursos{
        display: inline-block;
        width: 59%;
      }

      svg{
        width: 40%;
        height: auto;
        display: inline-block;
        pointer-events: none;
        margin-top: -6rem;
      }
    }

    #inscricao{
      li{
        &:not(:first-child) { margin-left: 1.5rem; }
        display: inline-block;
        max-width: 300px;

        .instrucao{
          width: 150px;
        }
      }
    }
  }
}