@import 'variaveis';
@import 'ultimos-editais';

main{
    margin: 0;
    
    #ead-na-ufes{
        font-weight: $light;
        text-align: center;
        line-height: 1.5rem;
        padding: 2rem 1rem;
        max-width: 560px;
        margin: 0 auto;

        h2{
            font-weight: inherit;
            font-size: 1.5rem;
            line-height: 2rem;
        }
        
        .topico-ead{
            margin: 2rem auto 0;
            width: 160px;
            display: inline-block;
            vertical-align: top;
            
            &:not(:first-child) {
                padding-left: 1rem;
            }
            
            figure{
                width: 100%;
                margin: 0;
                
                svg{
                    height: 72px;
                    width: auto;
                }
                
                figcaption{
                    color: $laranja;
                    text-transform: uppercase;
                    font-weight: $bold;
                }
            }
        }
    }
    
    #quer-ser{
        position: relative;
        margin: 2rem 0;        
        
        #quer-ser-titulo{ 
            margin-bottom: 1rem; 
/*            max-width: 800px;*/
            padding: 1rem;
            
            .content{
                min-width: 600px;
                max-width: 80%;
                margin: 0 auto;
                
                h2{
                    color: white;
                    font-weight: 700;
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                    margin: 0;
                    &:first-child{
                        padding-top: 0.8rem;
                    }

                }
            }
            
            
            
            &:before{
                content:'';
                position: absolute;
                z-index: -1;
                left: 0;
                border-bottom: 5rem solid $laranjaEscuro;
                border-left: 0 solid transparent;
                border-right: 25px solid transparent;
                height: 0;
                width: calc(100% - 3rem);
                max-width: 800px;
            }
            
        }
        
        #quer-ser-itens{
            padding: 1rem;
            max-width: 800px;
            margin: 0 0 0 auto;
            
            li{
                color: white;
                font-size: 1.2rem;
                display: inline-block;
                margin-left: 1.5rem;
                padding-top: 0.5rem;
                
                i{
                    color: $laranjaEscuro;
                    padding-left: 0.5rem;
                }
                
                div{
                    display: inline-block;
                    height: 4rem;
                    
                }
                
                .numero{
                    color: $laranjaEscuro;
                    font-size: 3rem;
                    font-weight: $bold;
                    background-color: white;
                    width: 4rem;
                    
                    border-radius: 2rem;
                    text-align: center; 
                }
                
                .instrucao{
                    width: 180px;
                    vertical-align: middle;
                    margin-left: 1rem;
                }
                
            }
            
            &:before{
                content:'';
                position: absolute;
                z-index: -1;
                right: 0;
                border-top: 5rem solid $laranjaClaro;
                border-left: 25px solid transparent;
                border-right: 0 solid transparent;
                height: 0;
                width: calc(100% - 2rem);
                max-width: 800px;
            }
        }
        
    }
    
    #noticias{
        margin-bottom: 3rem;
        display: flex;
        flex-wrap: wrap;
        
        .confira-mais{
            display: inline-block;
            flex-grow: 1;
            width: 300px;
            border-top: solid 3px $laranja;
            position: relative;
            margin-bottom: 2rem;
            height: 300px;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            padding: 0 1rem;
            
            h2{
                color: $laranjaEscuro;
                font-weight: $light;
                font-size: 2.3rem;
                margin: .5rem 0;
                line-height: 2.8rem;
            }
            
            button{
                width: calc(50% - 0.5rem);
                background-image: linear-gradient($azulEscuro,$azul);
                display: inline-block;
                color: white;
                height: 50%;
                border: none;
                font-size: 4rem;
                
                &:last-child{margin-left: 1rem;}
                
                svg{
                    path{fill: white;}
                    max-width: 5rem;
                    margin-top: -0.5rem;
                }
            }
        }
        
        .noticia{
           
            display: inline-block;
            flex-grow: 1;
            width: 300px;
            border-top: solid 3px $laranja;
            position: relative;
            margin-bottom: 2rem;
            height: 300px;
            
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                opacity: .6;
                background-image: linear-gradient(rgba(89,146,221,0), rgba(5,60,123,100));
            }
            
            img{
                width: 100%;
                object-fit: cover;
                height: 300px;
                margin-bottom: -0.3rem;
            }
            
            h3{
                color: white;
                position: absolute;
                bottom: 0;
                z-index: 1;
                padding: 1rem;
                font-weight: normal;
                font-size: 1.2rem;
                line-height: 2rem;
                padding-bottom: 0;
            }
        }
    }
    
    #polos{
        color: $azulEscuro;
        background-color: $laranjaClaro;
        padding: 4rem 1rem;
        /*height: 20rem;*/
        
/*        &:before{
            content: "";
            position: absolute;
            width: 100%;
            background-color: $laranjaClaro;
            height: 20rem;
            z-index: -1;
            left: 0;
        }*/
                   
        h2{
            color: white;
            font-size: 2rem;
            margin-top: 0;
        }
        
        p{padding: 0;}
        
        a{
            font-family: $texto;
            font-style: italic;
            font-weight: $bold;
            font-size: 1.5rem;

        }
       
        svg{
            display: none;
        }
        
    }
}

@media screen and (min-width: 992px) {
       
    main{
        margin: 0 auto;
       
        aside{
            padding-top: 3rem;
            float: right;
            display: inline-block;
            width: 320px;
            vertical-align: top;
        }
        
        #ead-na-ufes{
            margin: 0;
            display: inline-block;
        }
        
        #quer-ser{
            #quer-ser-titulo{
                max-width: 300px;
                display: inline-block;
                position: relative;
                padding: 0;
                margin: 0;
                
                .content{
                    width: 300px;
                }
                
                &:before{
                    right: 0;
                    left: unset;
                    width: 500%;
                    
                }
            }
            #quer-ser-itens{
                display: inline-block;
                position: relative;
                padding: 0;
                margin: 0;
                top: -0.5rem;
                padding-left: 1rem;
                
                &:before{
                    left: 0;
                    rigth: unset;
                    width: 500%;
                    max-width: none;
                }
            }
        }
        
        #noticias{
            margin: 5rem 0;
            margin-right: -1rem;
            
            .confira-mais{margin-right: 1rem; padding: 0;}
            
            .noticia{
                &:first-child{
                    flex-grow: 2;
                    width: calc(600px + 0.5rem);
                }
                margin-right: 1rem;
            }
        }
        #polos{
           
            a{font-size: 1.8rem;}

            svg{
                display: inline-block;
                float: left;
                margin-top: -8rem;
                height: 350px;
                width: auto;
            }

        }
    }
 
}