@import 'variaveis';

main{
    #filtros{
        #aplicados{}
    }
    
    
    #editais{
        width: 100%;
        font-weight: $light;
        border-bottom: 1px solid $azulClaro;
        
        
        li{
            border-top: 1px solid $azulClaro;
            position: relative;
            
            h3{
                color: $laranja;
                font-weight: $bold;
                
                a{
                    border-bottom: solid 1.5px $laranja;
                    
                    &:hover{
                        border-color: $laranjaEscuro;
                        color: $laranjaEscuro;
                    }
                }
            }
            
            .atribuicao{
                font-weight: $regular;
            }
            
            .tipo-de-curso{
                font-style: italic;
                margin: .3rem 0;
            }
            
            .curso{
                margin: .3rem 0;
            }
            
            .finalizacao{
                font-style: italic;
                color: gray;
                font-weight: $regular;
            }
            
            .status{
                font-weight: $bold;
                color: lightgrey;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    
}
@media screen and (min-width: 992px) {
    
    main{
        
        #editais{
            
            li{
                
                /*justify-content: space-between;*/
                
                p, h3{
                    margin: 1rem 0 !important;
                    position: relative !important;
                    display: inline-block;
                    font-size: 1rem;
                    vertical-align: top;
                }
                
                h3{width: 15%;}
                .atribuicao{width: 15%;}
                .tipo-de-curso{width: 15%;}
                .curso{width: 25%;}
                .finalizacao{width: 22%;}
                .status{width: 8%;}
                
                .atribuicao, .tipo-de-curso, .curso, .finalizacao{
                    font-weight: $light;
                    color: black;
                    font-style: normal;
                    
                }
                
            }
        }
    }
}