@import 'variaveis';

main{
    #filtros{
        #aplicados{}
    }   
    
    #editais{
        width: 100%;
        font-weight: $light;
        border-bottom: 1px solid $azulClaro;
        
        
        li{
            border-top: 1px solid $azulClaro;
            position: relative;
            margin-bottom: 1.2rem;
            
            h3{
                color: $laranja;
                font-weight: $bold;
                
                a:hover{
                        border-bottom: solid 1.5px $laranjaEscuro;
                        color: $laranjaEscuro;
                }
            }
            
            .atribuicao{
                font-weight: $regular;
            }
            
            .tipo-de-curso{
                font-style: italic;
                margin: .3rem 0;
            }
            
            .curso{
                margin: .3rem 0;
            }
        }
    }
    
    #postsNav{
        color: $laranja;
        padding: 3rem 0;
        
        a:hover{
            border-bottom: solid 1px $laranjaEscuro;
            color: $laranjaEscuro;
        }
        
        .nav-right{
            float: right;
        }

        .nav-left{
            float: left;
        }
    }
}

@media screen and (min-width: 992px) {
    
    main{
        #editais{          
            li{
                margin-bottom: 0;
                
                p, h3{
                    margin: 1rem 0 !important;
                    position: relative !important;
                    display: inline-block;
                    font-size: 1rem;
                    vertical-align: top;
                }
                
                h3{width: 17%;}
                .atribuicao{width: 26%;}
                .tipo-de-curso{width: 17%;}
                .curso{width: 40%;}
                
                .atribuicao, .tipo-de-curso, .curso{
                    font-weight: $light;
                    color: black;
                    font-style: normal;   
                }               
            }
        }
    }
}